@model kia_concesionario.Models.kia_concesionario.Models.Vehiculo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rines)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rines)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo_motor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo_motor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ancho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ancho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Largo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Largo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibilidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponibilidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_vehiculo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
